.page-main__title {
  text-align: center;
}

.tabel {
  width: 100%;
  border: 1px solid #000000;
}

.tabel__head th {
  border: 1px solid #000000;
  padding: 5px;
}

.tabel__head th:nth-child(1) {
  width: 60px;
}

.tabel__head th:nth-child(2) {
  width: 60px;
}

.tabel__head th:nth-child(3) {
  width: 600px;
}

.tabel-row td {
  border: 1px solid #000000;
}

.tabel-row__user-id,
.tabel-row__id {
  text-align: center;
}

.tabel-row__title,
.tabel-row__body {
  padding: 5px 10px;
}
